body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

.container {
  margin: 20px;
  width: 750px;
  padding: 20px 20px 20px 20px;
}

#login, #create {
  width: 50%;
  height: 2em;
  line-height: 2em;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: .9em;
}

.trebek {
  content:url('/alex-trebek.png');
  width:750px;
  height:500px;
}

.card-info {
  position:absolute;
  left:400px;
  top:150px;
  max-width:275px;
  font-size:1.4em;
}

.question {
  margin-top: 40px;
  font-size: .80em;
}

#answer-eval {
  margin-top: 105px;
  margin-left: 65px;
  font-weight: bold;
  font-size:  1.2em;
  display:none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}


.guess {
  position:absolute;
  left:400px;
  top:450px;
}

.form {
   width: 40%;
   clear: both;
    }

.form input {
    width: 100%;
    clear: both;
    margin: 8px 0 8px 0;
    }

table {

}

td {
  padding:15px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}


th {
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.question-summary {
  text-align: left;
}

.navbar {
  margin-bottom: 15px;
  float:right;
}

.small-header {
  float:left;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 10px;
}

.navbar a {
  padding: 5px;
  border: solid #aaa 2px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  background-color: #ccc;
}

.navbar a:hover {
  color: #fff;
  background-color: #aaa;
}
