body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

.container {
  margin: 20px auto;
  width: 750px;
  padding: 20px 20px 20px 20px;
  border: 1px dotted black;
}

#login, #create {
  width: 50%;
  height: 2em;
  line-height: 2em;
  font-weight: bold;
}

label {
  font-weight: bold;
  font-size: .9em;
}

.trebek {
  content:url('/alex-trebek.png');
  width:750px;
  height:500px;
}

.card-info {
  position:absolute;
  left:625px;
  top:150px;
  max-width:250px;
  font-size:1.4em;
}

.guess {
  position:absolute;
  left:625px;
  top:450px;
}

.form {
   width: 40%;
   clear: both;
    }
.form input {
    width: 100%;
    clear: both;
    margin: 8px 0 8px 0;
    }

th {
  text-align: left;
}

.navbar {
  margin-bottom: 8px;
  float:right;
}

.navbar a {
  padding:4px;
  border:solid gray 1px;
  margin-left:  8px;
  text-decoration:none;
  color:black;
}

.navbar a:hover {
  color:gray;
}
