<%= erb :_navbar %>

<div class="trebek">
</div>

<div class="card-info">
  <div id="incorrect" class="answer-eval"></div>
  <div id="correct" class="answer-eval">Correct!</div>
</div>

<div class="guess">
  <form id="guess" action="/round" method="POST">
    <input type="text" name="guess" placeholder="Enter answer">
    <input type="Submit">
  </form>
</div>
