<%= erb :_navbar %>

<div class="trebek">
</div>
<div class="card-info">

    <div class ="question"><%= @card.question %></div>
    <div id="incorrect" class="answer-eval">Incorrect!</div>
    <div id="correct" class="answer-eval">Correct!</div>

</div>

<div class="guess">
  <form action="/round" method="POST">
    <input id="guess" type="text" name="guess" placeholder="Enter answer">
    <input type="hidden" name="card_id" value="<%=@card.id %>">
    <input id="answer_button" type="Submit">
  </form>
</div>
