
<!--   <h1>Trebekards</h1> -->

<div class="homepage">

</div>

  <div class="form">
  <h2>Login</h2>
  <form id="new_form" action="/account" method="POST">
    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]">

    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]">

    <input type="Submit" id="login"value="Login">
  </form>
  </div>

  <div class="new_form">
  <h2>Create account</h2>
  <tr>
  <td>
    <% if @user %>
      <% @user.errors.messages.each do |error, value| %>
          <p class="errors"><%= error.capitalize %> <%= value[0] %>.</p>
      <% end %>
    <% end %>
  </td>
</tr>
  <form id="login_user" action="/create" method="POST">
    <label for="name">Name *</label>
    <input id="name" type="text" name="create[name]">

    <label for="email">Email *</label>
    <input id="email" type="text" name="create[email]">

    <label for="password">Password (min 8 char)</label>
    <input id="password" type="password" name="create[password]">

    <label for="confirm_password">Confirm password</label>
    <input id="confirm_password" type="password" name="verify[password]">

    <input type="Submit" id="create" value="Create Account">
  </form>
</div>


